{
  "tabWidth": 4,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.html", "*.vue", "*.json", ".prettierrc", "*.config.*"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "semi": true,
  "endOfLine": "auto"
}
